<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Debit Card Payment Form</title>
    <style>
        body {
            
            background: radial-gradient(circle, #0f3057, #097286);
          
            color: #fff;
      
            text-align: center;
         
            padding: 20px;
         
            font-family: Arial, sans-serif;
        }
        h3 {
            /* Adjust font size and style */
            font-size: 36px;
            font-weight: bold;
            /* Add some margin for spacing */
            margin-bottom: 30px;
            /* Add text shadow for emphasis */
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        }
        form {
            /* Center the form */
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .stripe-button {
            /* Style the button */
            background-color: #ffa931;
            color: white;
            border: none;
            padding: 15px 30px;
            font-size: 20px;
            border-radius: 8px;
            cursor: pointer;
            transition: background-color 0.3s;
            /* Add box shadow for depth */
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        }
        .stripe-button:hover {
            /* Change button color on hover */
            background-color: #ff7b00;
        }
     
    </style>
</head>
<body>
    
    


    <form method="post" action="/payment" >
        <h3>Welcome to the Debit Card Payment Form!</h3>
        <script src="http://checkout.stripe.com/v2/checkout.js"  class="stripe-button" data-key="<%= Publish %>" data-locale="en"></script>
    </form>

</body>
</html>
